{% if current_story.strip() != "" %}
Below is an ongoing story:
""" {{ current_story }} """

Your need to continue this story and return the continuation as response. Do not make additions longer than two sentences.

{% else %}
Start a new story. Use no more than two sentences.

{% endif %}